extends _shared

block body
	.models
		h2 Models we work on
		a(href='/models?orderBy=ASC') Ascending |&nbsp
		a(href='/models?orderBy=DES') Descending |&nbsp
		a(href='/models') None

		//- Implement sorting here

		for model in models
			h4= model