extends _shared

block body
	.reviews
		h2 Customer reviews

		//- Implement search here
		input(type="text", value=searchBy, onchange="location = '/reviews?searchBy=' + this.value")
		input(type="button", value="Search")

		for review in reviews
			for data in review
				blockquote
					p= data.content
					footer= data.source