extends _shared

block body
	.reviews
		h2 Customer reviews

		//- Implement search here
		b Search &nbsp;
		input(type="text", placeholder="", value=searchBy, onkeyup="location = '/reviews?searchBy=' + this.value")

		for review in reviews
			for data in review
				blockquote
					p= data.content
					footer= data.source